FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=cambiar-esta-clave-en-produccion
DATABASE_URL=postgresql://nomina_user:nomina_pass@localhost:5432/nomina_sky
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
POSTGRES_USER=nomina_user
POSTGRES_PASSWORD=nomina_pass
POSTGRES_DB=nomina_sky
COOKIE_SECURE=false
